@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./photo/back.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
}

.loaderStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 375px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 704px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}
